{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div id="page" class="layout-container">

  {% if page.header %}
  <header role="banner">
    <div class="header">
      {{ page.header }}
    </div>
  </header>
  {% endif %}

  {% if page.primary_menu %}
    <div>
      <nav class="primary_menu">
        {{ page.primary_menu }}
      </nav>
    </div>
  {% endif %}
  
    <div class="branding">
      {{ page.branded }}
    </div>

{% if page.highlighted %}
    <div>
      <div class="highlighted">
        {{ page.highlighted }}
      </div>
    </div>
  {% endif %}
  
  {% if page.breadcrumb %}
    <div>
      <div class="breadcrumb">
        {{ page.breadcrumb }}
      </div>
    </div>
  {% endif %}

  {% if page.primary_content_1 %}
    <div class="primary-content-1">
      {{ page.primary_content_1 }}
    </div>
  {% endif %}

   {% if page.primary_content_2 %}
    <div class="primary-content-2">
      {{ page.primary_content_2 }}
    </div>
  {% endif %}

   {% if page.primary_content_3 %}
    <div class="primary-content-3">
      {{ page.primary_content_3 }}
    </div>
  {% endif %}

   {% if page.primary_content_4 %}
    <div class="primary-content-4">
      {{ page.primary_content_4 }}
    </div>
  {% endif %}

   {% if page.primary_content_5 %}
    <div class="primary-content-5">
      {{ page.primary_content_5 }}
    </div>
  {% endif %}

  
  <main role="main">
    {% if page.content %}
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}
    {% endif %}


    {% if page.sidebar_right %}
      <aside class="layout-sidebar-right" role="complementary">
        <div class="sidebar">
        {{ page.sidebar_right }}
        </div>
      </aside>
    {% endif %}

  </main>
  

    <div class="footer-part">
      {% if page.footer_one %}
        <footer>
          <div class="footer_one">
            {{ page.footer_one }}
          </div>
        </footer>
      {% endif %}
    </div>
      
    <div class="footer-part-2">
      {% if page.footer_two %}
        <footer>
          <div class="footer_two">
            {{ page.footer_two }}
          </div>
        </footer>
      {% endif %}
    </div>

    
</div>{# /.layout-container #}
